.forgotpassword {
    text-align: center;
    padding: 15px 0;
}

/*------Forgot password page style------------*/
.forgotpassword-alert {
    text-align: center;
    color: #0963a7;
    font-size: 18px;
}