/*----LOGIN PAGE STYLE-----*/
.login-page,
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}
.login,
.register {
    background: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
}
.login h2,
.register h2 {
    text-align: center;
    margin: 15px 0;
}
.login label {
    font-size: 20px;
    padding: 10px 0 0 0;
}
.login input,
.register input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    margin: 10px 0;
}
.login button {
    border-radius: 5px;
    background: #111827;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
}
.login button:hover {
    border: 1px solid #fff;
    background: #000000;
    color: #fff;
}
.login a {
    color: #0963a7;
    font-size: 18px;
}